body
{
    margin: 0px;
}




.header
{
    background-color: #00ffb5;
    color: #e6f9f3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-shadow: 1px -1px 7px #FF5722;

}

.header-divison-content-edit
{
    margin: 10px;
}


#profile-pic
{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: -1px 0px 19px 8px #4CAF50;
}